
}
body {
    font-family: 'Cardo', serif;
    font-family: 'Lato', sans-serif;

    font-size: 16px;
    font-weight: 400;
    color: #232323;
    line-height: 26px;
}
a {
    text-decoration: none;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
    
}
/* BE UPDATED PAGE */
.be-updated {
    background-color: #e9e7e7;
    padding: 180px 0 214px 0;
    
}
.title-h2-cardo {
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 5em;
    letter-spacing: 1.1px;
    margin-bottom: 74px;
}
.btn-form {
    font-size: 1.55em;
    font-weight: 400;
    color: #e9e7e7;
    background-color: #232323;
    padding: 17px 154px;
    letter-spacing: 0px;
    transition: 0.3s;
    border-radius: 7px;
    margin-top: 47px;
}
.btn-form:hover {
    color: #232323;
    background-color: #e9e7e7;
}

.form-input {
    padding: 14px 24px;
    margin-bottom: 25px;
    border-radius: 7px;
    border: 3px solid rgb(35, 35, 35);
    line-height: 26px;
    width: 400px;
    letter-spacing: 0px;
    font-size: 21px;
}

.form-textarea {
    padding: 14px 25px;
    width: 400px;
    line-height: 26px;
    letter-spacing: 0px;
    font-size: 21px;
    border-radius: 7px;
    border: 3px solid rgb(35, 35, 35);
    height: 192px;
    resize: none;
}
.mountains {
    background-image: url(../img/mountains.png);
    background-repeat: no-repeat;
    width: 666px;
    height: 730px;

}
.be-flex {
    display: flex;
    gap: 90px;
    align-items: flex-end;
}
.scribble-1 {
    display: block;
    position: absolute;
    width: 26%;
    top: 0;
    right: 0;
}
/* BE UPDATED PAGE  END*/


/* PAGE FOOTER */
.footer {
    background-color: #c4c4c4;
    padding: 58px 0 100px 0;
    position: relative;
}
.box {
    display: flex;
    justify-content: space-between;
}
.h2-footer {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0px;
}
.quick-grid {
    margin-top: 40px;
    margin-right: 6px;
}
.box-right {
    display: grid;
    grid-template-columns: 218px 224px 228px 174px;
    grid-template-rows: 50px 50px 47px;

    
}
.footer-a {
    line-height: 26px;
    letter-spacing: -0.59px;
    font-size: 21px;
    color: #232323;
}

.quick-h1 {
    color: #232323;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -0.7px;
    margin-bottom: 46px;
}
.down {
    line-height: 26px;
    letter-spacing: -0.59px;
    font-size: 21px;
    color: #232323;
    margin-top: 97px;
    margin-left: 48px;
}
.scribble-2 {
    display: block;
    position: absolute;
    width: 26%;
    bottom: 40px;
    left: 0;
}
/* PAGE FOOTER END */
@media (max-width: 770px) {
    .wrap {
        max-width: 770px;
        margin-left: 0;
    }
    .title-h2-cardo  {
        font-size: 3em;
        margin-bottom: 11px;
    }
    .btn-form {
        font-size: 1em;
    }
    .mountains {
        scale: 0%;
        margin-top: -100px;
display: block;
margin-top: -200px;
height: 0;
width: 0;
    }
    .be-flex {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .form-input, .form-textarea {
        width: 200px;
        font-size: 1em;
        
        
    }
    .form-textarea {
        height: 81px;
    }
    .form-input {
        padding: 7px 23px;
        margin-bottom: 10px;
        
    }
    .btn-form {
        padding: 11px 82px;
        margin-top: 10px;
    }
    .be-updated {
        padding: 30px 0 233px 0;
    }
    .footer {
        padding: 0 0 0 0;
    }
    .box {
        flex-direction: column;
        align-items: center;
        
    }
    .h2-footer {
        margin-bottom: -23px;
        margin-top: 65px;
    }
    .box-right {
        grid-template-columns: 178px 224px;
        grid-template-rows: 42px 42px 42px 42px;
        justify-content: center;
        justify-items: center;
        font-size: 1.5em;
    }
    .quick-h1 {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 28px;
        
    }
    .down {
        text-align: center;
        font-size: 0.6em;
        margin-top: 36px;
    }
    .footer-a {
        font-size: 0.9em;
    }
}